<article class="post">
  <%= render "slug", post: @post %>
  <% if @post.body? %>
    <section class="body">
      <%= @post.body %>
    </section>
  <% end %>
  <%= render "actions", post: @post %>
</article>
