*
  margin: 0

html, body
  height: 100%

.wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -60px

footer, .push
  height: 60px

.container
  width: 100% !important
  padding-left: 0 !important
  padding-right: 0 !important

.row
  margin-left: 0 !important
  margin-right: 0 !important

.col-xs-12
  padding-left: 0 !important
  padding-right: 0 !important

header
  background-color: #cee3f8
  height: 45px
  line-height: 45px
  font-size: 18px
  margin-bottom: 10px
  padding: 0 1rem

main
  margin-left: 10px
  ul.posts
    padding-left: 0
    li
      list-style: none
      margin-bottom: 8px
  form
    margin-bottom: 20px
    fieldset
      width: 514px
      padding: 7px 5px
      font-size: large
      background-color: #cee3f8
      margin-bottom: 10px
      input[type="text"], input[type="url"], textarea, select
        width: 100%
        font-size: 14px
        line-height: 14px
        padding: 6px 12px
        border: 1px solid #ccc
        border-radius: 4px
      textarea
        height: 100px

ul.posts, article
  .title
    font-size: 16px
    a:link, a:hover, a:active
      color: blue
    a:visited
      color: #551a8b
  .tagline
    color: #888
    font-size: x-small
  ul.actions
    list-style-type: none
    padding: 1px 0
    li
      display: inline-block
      padding-right: 4px
      font-size: x-small
      line-height: 1.6em
      white-space: nowrap
      a
        color: #888
        font-weight: bold
        padding: 0 1px
        text-decoration: none

article
  section.body
    border: 1px solid #3498db
    border-radius: 7px
    margin: 15px 0
    padding: 5px
    background-color: #fafafa
    max-width: 60em
    overflow: auto
    font-size: small

nav#sidebar
  margin-right: 10px
  a
    display: block
    text-align: center
    border: 1px solid #c4dbf1
    font-size: 16px
    font-weight: bold
    height: 29px
    line-height: 29px
    margin-bottom: 12px
    color: #369
    background: white
    background: linear-gradient(to bottom, white 0%, #ebf3fc 100%)
  a:hover
    text-decoration: none
    color: white
    background: #d7ebff
    background: linear-gradient(to bottom, #d7ebff 0%, #aec8e1 50%, #9cbcd9 51%, #74a4d2 100%)

footer
  color: gray
  font-size: smaller
  text-align: center
